/* .main {
  display: flex;
  height: 100%;
}

.main_left {
  background-color: #0f172a;
  width: 22%;
}

.main_right {
  width:100%;
} */

@import url('./assets/css/sidebar.scss');
@import url('./assets/css/dashboard.scss');